.c-mainmenu
    .c-mainmenu__meta
    ul.c-mainmenu__list
        li.c-mainmenu__item
            a(href="#").c-mainmenu__link.c-mainmenu__link--is-active Home
        li.c-mainmenu__item
            a(href="#").c-mainmenu__link Samples
        li.c-mainmenu__item
            a(href="#").c-mainmenu__link About
        li.c-mainmenu__item
            a(href="#").c-mainmenu__link Contact
