.c-logo {
    display: inline-block;
    border: 2px solid $border-color;
    text-decoration: none;
    padding: 15px;
    color: #222222;
    font-weight: bold;
    width: 100%;
    text-align: center;
}